<% provide(:subtitle, 'Home') %>
<div class="center hero-unit">
    <h1>Agile Practitioners conference</h1>
    <p>
        This is the main page, content here will be different based on date & random data
    </p>
</div>
<p>
    Speakers
</p>
<p>
    Speakers
</p>
