<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to "sample app", 'home', id: "logo" %>
            <nav>
                <ul class="nav pull-right">
                    <li>
                        <%= link_to "home", 'home' %>
                    </li>
                    <li>
                        <%= link_to "help", 'help' %>
                    </li>
                    <li>
                        <%= link_to "Sign in", 'sign_in' %>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
